[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tgcrypto = "*"
pyromod = "==1.5"
motor = "*"
dnspython = "*"
psutil = "*"
pykeyboard = "*"
aiohttp = "*"
aiofiles = "*"
pillow = "*"
gofile2 = {git = "https://github.com/Itz-fork/Gofile2.git"}
requests = "*"
pyrofork = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
