pyrogram
TgCrypto
pyromod==1.5
motor
dnspython
psutil
pykeyboard
aiohttp
aiofiles
Pillow
git+https://github.com/Itz-fork/Gofile2.git#egg=gofile2
aiofiles==23.2.1
aiohappyeyeballs==2.4.6
aiohttp==3.9.1
aiosignal==1.3.2
async-timeout==4.0.3
attrs==25.1.0
certifi==2025.1.31
charset-normalizer==3.4.1
dnspython==2.7.0
frozenlist==1.5.0
gofile2 @ git+https://github.com/Itz-fork/Gofile2.git@2627c74b3599e2ed76e7ebc7cab70f5e658c610d
idna==3.10
motor==3.7.0
multidict==6.1.0
pillow==11.1.0
propcache==0.3.0
psutil==7.0.0
pyaes==1.6.1
pykeyboard==0.1.5
pymediainfo-pyrofork==6.0.2
pymongo==4.11.1
pyrofork==2.3.58
Pyrogram==2.0.106
pyromod==1.5
PySocks==1.7.1
requests==2.32.3
TgCrypto==1.2.5
typing_extensions==4.12.2
urllib3==2.3.0
yarl==1.18.3
